.App {
    display: none;
    background: var(--image-gradient), url(../source/home-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.sticky {
    background-color: #1b1a2ea9 !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
}

.navbar.scrolled {
    position: fixed;
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-out 0s !important;
    background-color: rgba(255, 255, 255, 0.1234);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 999;
    width: 70%;
    top: 2%;
    left: 15%;
    border-radius: 20px;
}

@media (max-width: 767px) {
    .navbar.scrolled {
        width: 90%;
        left: 5%;
    }
}

.navbar {
    /* position: fixed !important; */
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out 0s;
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
    /* background-color: rgba(255, 255, 255, 0.9); */
    transition: all 0.3s ease-in-out;
    /* border-radius: 0 0 10px 10px; */
}

.navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-toggler span {
    display: block !important;
    background-color: #be50f4 !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1rem 2rem !important;
        font-size: 1.4rem !important;
    }

    .navbar-nav .nav-item a::after {
        display: none !important;
    }
}

.navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-link {
    padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
    .nav-link {
        padding: 0.7rem 1rem !important;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 10px;
}

.navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #c95bf5;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;
}

@media (max-width:993px) {
    .row {
        flex-direction: column;
    }
}

.home-header {
    margin-top: 4.5rem !important;
}

.home-section {
    /* background-image: var(--image-gradient), url(source/home-bg.jpg); */
    /* background-position: top center;
    background-repeat: no-repeat; */
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
}

@media (max-width: 767px) {
    .home-content {
        padding: 1rem 0 2rem !important;
    }
}

.heading {
    font-size: 2.1em !important;
    padding-left: 50px !important;
    padding-bottom: 15px;
}

.heading-name {
    font-size: 2.2em !important;
    padding-left: 45px !important;
}

.main-name {
    /* color: #25EACC; */
    background: linear-gradient(-45deg, #25EACC, rgb(208 42 183));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.blue {
    color: #25EACC !important;
    /* background: linear-gradient(-45deg, #25EACC, rgb(208 42 183));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
}

.home-about-description {
    color: white !important;
    /* padding-top: 100px !important; */
    padding-bottom: 20px !important;
    text-align: center;
}

.home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
}

.home-projects {
    margin-top: 8rem;
}

.home-projects-heading {
    color: white;
    margin-bottom: 4rem;
}

.card {
    background: linear-gradient(-45deg, rgb(122, 0, 122, 0.5), rgb(36, 231, 202, 0.5)) !important;
    margin: 2.5rem;
    transition: scale 0.5s ease-out 100ms;
}

.card a {
    text-decoration: none;
    color: white !important;
}

.card:hover {
    scale: 1.04;
}

.card-img-top {
    margin-top: 1.7rem !important;
    height: 250px;
    object-fit: cover;
    border-radius: 2rem;
}

.home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
}

.home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
    list-style: none;
}

.home-about-social-links li {
    display: inline;
    margin: 0 7px;
}

.center {
    display: flex;
    justify-content: center;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}