<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'components/head.html' %}
</head>

<body>

    {% include 'components/preloader.html' %}

    <div class="App">
        {% include 'components/navbar.html' %}

        <section>
            {% include 'components/name.html' %}
            <div id="about" class="home-about-section container-fluid">
                <div class="container">

                    {% include 'components/introduction.html' %}

                    {% include 'components/timeline.html' %}

                    {% include 'components/social.html' %}

                </div>
            </div>
        </section>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>