<div class="row">
    <div class="home-about-description">
        <h1 style="font-size: 2.6em;">
            LET ME
            <span class="blue">INTRODUCE</span>
            MYSELF
        </h1>
        <p class="home-about-body">
            I fell in love with programming and I have at least learnt something, I think…
            <br><br>
            I am fluent in
            <i><b class="blue">Python, MySQL and Flutter.</b></i>
            <br><br>
            My field of Interest's are building new
            <i><b class="blue">Flutter Apps and Products</b></i>
            and also in areas related to
            <i><b class="blue">Machine Learning and Deep Learning.</b></i>
            <br><br>
            Whenever possible, I also apply my passion for developing products with
            <i><b class="blue">Python</b></i>
            and its FrameWorks like
            <i><b class="blue">Flask,Django</b></i>
        </p>
    </div>
</div>