<div id="home" class="home-section container-fluid">
    <div class="home-content container">
        <div class="row">
            <div class="home-header col-md-7">
                <h1 class="heading">Hi...</h1>
                <h1 class="heading-name">I'M
                    <strong class="main-name">LOKENDAR JANGID</strong>
                </h1>
                <div style="padding: 50px; text-align: left;">
                    <div class="typewriter">
                        <h1><span class="auto-type blue"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="padding-bottom: 20px;">
                <img src="{{ url_for('static', filename='source/developer-img.svg')}}" alt="pic"
                    style="max-height: 450px;" class="img-fluid">
            </div>
        </div>
    </div>
</div>