<div class="row">
    <div class="home-about-social col-md-12">
        <h1 class="blue">FIND ME ON</h1>
        <p>Feel free to
            <span class="blue">connect</span>
            with me
        </p>
        <ul class="home-about-social-links">
            <li class="social-icons">
                <a href="https://www.github.com/lokendarjangid/">
                    <i class="fa fa-github fa-3x" style="color: #a588c0;"></i>
                </a>
            </li>
            <li class="social-icons">
                <a href="https://twitter.com/lokendarjangid1">
                    <i class="fa fa-twitter fa-3x" style="color: #a588c0;"></i>
                </a>
            </li>
            <li class="social-icons">
                <a href="https://www.linkedin.com/in/lokendar-jangid/">
                    <i class="fa fa-linkedin fa-3x" style="color: #a588c0;"></i>
                </a>
            </li>
            <li class="social-icons">
                <a href="https://www.instagram.com/lokendar__jangid/">
                    <i class="fa fa-instagram fa-3x" style="color: #a588c0;"></i>
                </a>
            </li>
        </ul>
    </div>
</div>