<div id="hsnPort-resume" class="hsnPort-bg-color">
    <div class="container">
        <div class="col-md-offset-2 center hsnPort-heading">
            <h2 class="blue" style="margin-bottom: -50px;">LIFE SO FAR</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Collaborations</h3>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">GeeksForGeeks</h3>
                                <span class="company">Coding Influncer - 2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the mountains, far from the countries Vokalia and Consonantia,
                                    there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Codingal</h3>
                                <span class="company">Code Scout - 2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the
                                    coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">introvertCoder</h3>
                                <span class="company">Social Media Influencer - 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>

                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Education</h3>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Graduation Degree</h3>
                                <span class="company">University Name - 2007 - 2009</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the
                                    coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Harvard CS50W Course</h3>
                                <span class="company">edx Online - 2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">High School</h3>
                                <span class="company">St. Xavier's High - 2022-23</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>